.detail-page {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat (4, 1fr);
    grid-gap: 1%;
}
.detail-title {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}
.detail-stats-entries {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.detail-stats-medals {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.detail-stats-athletes {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.detail-graph {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}
.detail-back {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    box-sizing: border-box;
    padding: 1% 2%;
    border: none;
    box-shadow: rgb(73, 73, 73) 0.3em 0.3em 1em;
    outline: none;
    &:active {
    transform: translate(1px, 1px);
    }
}