.home-page {
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.home-graph {
    position: relative;
    left: 50%;
    transform: translate(-20%, 0%);
}
h1 {
    text-align: center;
    margin: 1%;
    background-color: skyblue;
    border-radius: 10em;
    box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.5);
}
p {
    text-align: center;
    margin: 1%;
}