<div class="home-page">
    <div class="home-logo">
        <img src="../../../assets/TeleSportLogo.png" alt="TéléSport logo">
    </div>
    <div class="home-title">
        <h1 style="font-size:4vw;">Medals per Country</h1>
    </div>
    <div class="home-stats-JOs">
        <p style="font-size:2vw;">Number of JOs<br/>
        @if ((olympicsStats$ | async); as olympicsStats) {
            {{olympicsStats.nbOfJOs}}
        }
        </p>
    </div>
    <div class="home-stats-countries">
        <p style="font-size:2vw;">Number of countries<br/>
        @if ((olympicsStats$ | async); as olympicsStats) {
            {{olympicsStats.ngOfCountry}}
        }
        </p>
    </div>
    <div class="home-graph">
        @for (olympicsMedalsPerCountry of [(olympicsMedalsPerCountry$ | async)]; track olympicsMedalsPerCountry) {
            @if (olympicsMedalsPerCountry) {
                <app-pie-graph [chartData]="olympicsMedalsPerCountry.medals" [chartLabels]="olympicsMedalsPerCountry.countries"/>
            }
        }
    </div>
</div>