<div class="home-page">
    <div class="home-logo">
        <img src="../../../assets/TeleSportLogo.png" alt="TéléSport logo">
    </div>
    <div class="home-title">
        <h1>Medals per Country</h1>
    </div>
    @for (olympicCountry of (olympics$ | async); track olympicCountry.id) {
        <div class="graph-country">
            <p>{{ olympicCountry.totalOfMedal }}</p>
            <p>{{ olympicCountry.country }}</p>
        </div>
    }
    <div class="home-graph">
        <app-pie-graph [chartData]="chartData" [chartLabels]="chartLabels"/>
    </div>
</div>