h1, p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: 2%;
    padding: 1%;
    border-radius: 1em;
}
h1 {
    background-color: #76ABDF;
    box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.5);
}
p {
    background-color: skyblue;
}
div:has(> h1), div:has(> p) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}